* {
  margin: 0;
  box-sizing: border-box;
  color: #134b70;
}

@media (max-width: 639px) {
  body {
    background: white;
  }
  /*Header section*/
  #header {
    padding: 20px 20px 0px;
  }
  img {
    width: 100%;
    height: 300px;
  }
  .search-icon {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 10px;
    align-items: center;
  }
  .search-bar {
    border: 1px solid black;
    border-radius: 16px;
    padding: 4px;
    flex: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 35px;
  }
  .search-bar input {
    border: none;
    width: 100%;
  }
  .search-bar input:focus {
    outline: none;
  }
  .icon {
    display: flex;
    gap: 10px;
    font-size: 25px;
  }
  #nav {
    margin: 10px;
  }
  #nav ul {
    list-style: none;
  }
  #nav ul a {
    text-decoration: none;
    color: #508c9b;
    font-weight: bold;
  }
  #nav ul a:hover {
    color: #134b70;
  }
  main {
    padding: 10px 20px;
  }
  /* Card Section */
  #cards {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  #cards a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .card-container {
    position: relative;
  }
  .card-container .bi {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 25px;
    color: #134b70;
  }
  .card-container img {
    width: 100%;
  }
  .card-details {
    padding-top: 10px;
  }
  /* Details */
  .details-container {
    display: flex;
    gap: 15px;
    font-weight: 700;
    align-items: center;
  }
  .details-container .bi {
    font-size: 30px;
  }
  .details-container p {
    margin-bottom: 0;
  }
  .cart-btn {
    border-radius: 8px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border: 1px solid black;
    background-color: #134b70;
    color: white;
  }
  #details {
    margin-top: 20px;
  }
  /* Footer section */
  footer {
    margin-top: 20px;
  }
  .accordion-button {
    padding: 8px 5px;
  }
  .accordion-button::after {
    content: none;
  }
  .accordion-body ul {
    list-style: none;
  }
  .accordion-body ul li {
    padding: 4px 0;
  }
  footer p {
    text-align: center;
    margin-top: 10px;
  }
  .accordion {
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: none;
  }
  .accordion-item {
    border: none;
  }
  .accordion-header {
    border: 1px solid black;
    color: #134b70;
  }
}
